<h1>SpotifyStatsHub</h1>
<form action="/results" method="post">
  <label for="artist_name">Enter Artist Name:</label>
  <input type="text" name="artist_name" id="artist_name" required>
  <button type="submit">Search</button>
</form>
