<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artist Spotify statistics</title>
  <style>
    html, body {
      min-height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      background: linear-gradient(90deg, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913);
      color: white;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
