<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotifyStatsHub</title>
    <style>
      html, body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        background: black;
        color: lightgreen;  
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Arial, sans-serif;
      }

      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .image-row {
        margin-bottom: 20px;
      }

      .thumbnail {
        width: 400px;  
        height: 400px; 
        object-fit: cover;
      }

      .new-search {
        color: limegreen;  /
        text-decoration: none;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div class="image-row">
        <img src="/thumbnails/bars.jpg" alt="Site Thumbnail" class="thumbnail">
      </div>
      <%= yield %>
    </div>
  </body>
</html>
