<h1>Search Results</h1>
<% if @artists.empty? %>
  <p>No artists found.</p>
<% else %>
  <div class="grid-container">
    <% @artists.each do |artist| %>
      <div class="grid-item">
        <strong>Name:</strong> <%= artist.name %><br>
        <strong>Followers:</strong> <%= artist.followers['total'] %><br>
        <strong>Genres:</strong> <%= artist.genres.join(', ') %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="footer">
  <a href="/" class="new-search">New Search</a>
</div>

